### MOJO Scoring Pipeline - Python wrapper実行例

In [1]:
import os.path
import daimojo.model   # C++ Runtime Python Wrapper API（daimojo-2.5.2-cp36-cp36m-macosx_10_12_x86_64.whl）をインストール済み

**MOJOモデルのロードとモデルの確認**

In [2]:
homePath = os.path.expanduser("~")
m = daimojo.model(homePath + "/Downloads/mojo-pipeline/pipeline.mojo")  # デルのロード
m

In [3]:
print("モデルが作成された時刻: " , m.created_time)
print("UUID of the experiment: ", m.uuid)

モデルが作成された時刻:  Thu Dec 24 11:27:15 2020
UUID of the experiment:  0bdb6222-458f-11eb-91c1-0242ac110002

In [5]:
print("特徴量名: ", m.feature_names)
print("特徴量の型: ", m.feature_types)

print("ターゲット名: ", m.output_names)
print("ターゲットの型: ", m.output_types)

特徴量名:  ['x1', 'x2', 'x3', 'x4']
特徴量の型:  ['float32', 'float32', 'float32', 'float32']
ターゲット名:  ['y']
ターゲットの型:  ['float32']

**データを読み込み、スコアリングを実施**

In [6]:
import datatable as dt

In [31]:
pydt = dt.fread("sample_data.csv", na_strings=m.missing_values, header=True)
print(type(pydt))
print(pydt.shape)
display(pydt)

<class 'datatable.Frame'>
(3, 4)

In [8]:
# 欠損と認識するデータの一覧
m.missing_values

['',
 '?',
 'None',
 'nan',
 'NA',
 'N/A',
 'unknown',
 'inf',
 '-inf',
 '1.7976931348623157e+308',
 '-1.7976931348623157e+308']

In [21]:
# 特徴量の型の確認
pydt.stypes

(stype.float64, stype.float64, stype.float64, stype.float64)

In [23]:
# スコアリング
res = m.predict(pydt)
res

In [28]:
print("結果カラム名: ", res.names)
print("結果の型: ", res.stypes)

結果カラム名:  ('y',)
結果の型:  (stype.float32,)

In [32]:
# pandas.DataFrameへの変換
display(pydt.to_pandas())
display(res.to_pandas())

     x1     x2    x3    x4
0  2.60  -3.21  0.62  1.36
1  0.00  10.00  0.30  1.00
2 -1.11  -1.11  2.22  2.22

          y
0  2.561763
1  3.842962
2  2.533004